DATABASE_URL="postgresql://neondb_owner:npg_2W7ouretlNvk@ep-spring-wave-a8qngdus-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require"
BETTER_AUTH_SECRET="gUTcMqjVdPUQUDM33Svy1nbWfvbbuET0"
BETTER_AUTH_URL="http://localhost:3050/"
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/xApate0nx"
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY="public_HPoTxO4ZXUaAHwV4i+Dv0455k+0="
IMAGEKIT_PRIVATE_KEY="private_tQWQrCTzW7H25v5hte3q+eY/oc8="